<nav class="navbar navbar-expand-md navbar-dark bg-dark top-nav">
    <a href="/" class="navbar-brand">HelpDesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end ">
      
        <% if(currentUser) { %>
           
      <div>
        <a href="/users/<%= currentUser.id %>" class="nav-link"><%= currentUser.name %> <br/> <small><%= currentUser.role %></small></a>
        <% } %>
    </div>
      <% if(!currentUser)  { %>
      <a href="/signup" class="nav-link">Sign Up</a>
      
      <a href="/login" class="nav-link">Login</a>
      <% } else { %>
        <a href="/logout" class="nav-link">Logout</a>
      <% } %>
      
    </div>
  </nav>
  <nav class="nav nav-justified pt-5 flex-column navbar-dark bg-dark side-nav">
    <% if(currentUser){ %>
    <a href="/tickets" class="nav-link">Ticket Queue</a>
    <a href="/tickets/new" class="nav-link">New Ticket</a>
    
    <a href="/users/<%= currentUser.id %>" class="nav-link">Ongoing Tickets</a>
      <% } %>
   <% if(currentUser && currentUser.role === 'Admin') { %>
    <a href="/history" class="nav-link">Ticket History</a>
    <% } %>


  </nav>