<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main>
    <%- include('../partials/flash') %>
    <h1>Dashboard</h1>
    <div class="container mt-3">
        <table>
    <thead>
        <tr>
            <th colspan="7">Ticket Queue</th>
        </tr>
    </thead>
    <thead>
    <tr>
            <td>Ticket #</td>
            <td>Assigned Tech</td>
            <td colspan="2">Description</td>
            <td>Requested By</td>
            <td>Date Created</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1298159</td>
            <td>None</td>
            <td colspan="2">My laptop doesnt work...</td>
            <td>Debra - Accounting</td>
            <td>10/10/2020</td>
            <td>Edit | Delete</td>
        </tr>
        
    </tbody>
</table>
      </div>

</main>


<%- include('../partials/footer') %>