<%- include('./partials/header') %>
<div class="landing bg-dark">

    <div class="jumbotron">
        <div class="container jumbotron-container">
            <h1 class="text-center">Help Desk</h1>
            <p>IT Ticketing Made Simple</p>
            <div>
                <a class="btn btn-secondary" href="/login">Login</a>
                <a class="btn btn-primary" href="/signup">Signup</a>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>

