/* ---------------------------------------------------
                     GLOBAL                
--------------------------------------------------- */
body{
    box-sizing: border-box;
}
main{
    margin-left: 20vw;
}

.hidden{
    display: none;
}
/* ---------------------------------------------------
                     Navs                
--------------------------------------------------- */
.top-nav{
    margin-left: 20vw;
}
.side-nav{
    position: absolute;
    top: 0;
    width: 20vw;
    height: 100vh;
    font-size: 1.5rem;
}
nav a{
    color: white;
}

nav a:hover{
    color: steelblue;
}


/* ---------------------------------------------------
                     Ticket Queue                
--------------------------------------------------- */
table{
    width: 100%;
    text-align: center;
}
td{
    padding: 10px;
}
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    
}

thead:nth-child(1){
    font-size: 4rem;
}
thead:nth-child(2){
    background-color: steelblue;
    color: white;
}

/* ---------------------------------------------------
                     FORMS                
--------------------------------------------------- */
form label, form textarea, form select, form input,
.show-form label, .show-form textarea, .show-form select, .show-form input{
    width: 100%;
    padding: 10px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 20px;
    width: 70%;
}
.page-container{
    display: flex;
    justify-content: center;
}
.form-container .submit{
    width: 50%;
    align-self: center;
    font-size: 1.5rem;
}
