<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

   

<main>
    <%- include('../partials/flash') %> 
<div class="container mt-3">
    <div class="container">
        <div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="5"><%= user.name %>'s Tickets</th>
            </tr>
        </thead>
        <thead>
        <tr>
                <td>Ticket #</td>
                <td colspan="2">Description</td>
                <td>Requested By</td>
                <td>Date Created</td>
            </tr>
        </thead>
    </div>
</div>

</main>


